[submodule "docker/aergoscan_v2_api"]
	path = docker/aergoscan_v2_api
	url = https://github.com/aergoio/aergoscan_v2_api.git
	branch = main
[submodule "docker/aergoscan_v2_frontend"]
	path = docker/aergoscan_v2_frontend
	url = https://github.com/aergoio/aergoscan_v2_frontend.git
	branch = main
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/aergoio/aergoscan-elasticsearch-kube.git
	branch = main
[submodule "indexer"]
	path = indexer
	url = https://github.com/aergoio/aergoscan-indexer-kube.git
	branch = main
[submodule "api"]
	path = api
	url = https://github.com/aergoio/aergoscan-api-kube.git
	branch = main
[submodule "front"]
	path = front
	url = https://github.com/aergoio/aergoscan-front-kube.git
	branch = main
